<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>example</servlet-name>
    <servlet-class>net.broker.food.servlet.examples.ExampleServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>jstl-servlet</servlet-name>
    <servlet-class>net.broker.food.servlet.examples.JstlServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register_form</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>process_register_form</servlet-name>
    <servlet-class>net.broker.food.servlet.RegisterFormServlet</servlet-class>
    <multipart-config>
      <max-file-size>10000000</max-file-size>
      <max-request-size>20000000</max-request-size>
      <file-size-threshold>5000000</file-size-threshold>
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>list_data_servlet</servlet-name>
    <servlet-class>net.broker.food.servlet.examples.ListDataServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>create_account_form</servlet-name>
    <jsp-file>/create_account.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>submit_new_account</servlet-name>
    <servlet-class>net.broker.food.servlet.CreateNewAccountServlet</servlet-class>
    <multipart-config>
      <max-file-size>10000000</max-file-size>
      <max-request-size>20000000</max-request-size>
      <file-size-threshold>5000000</file-size-threshold>
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>json_get</servlet-name>
    <servlet-class>net.broker.food.servlet.JSONDataServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>login_form</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>submit_login</servlet-name>
    <servlet-class>net.broker.food.servlet.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>submit_demand_servlet</servlet-name>
    <servlet-class>net.broker.food.servlet.ProcessDemandServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>map_page</servlet-name>
    <jsp-file>/map.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>map_page</servlet-name>
    <url-pattern>/map.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>submit_demand_servlet</servlet-name>
    <url-pattern>/submit_demand</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>submit_login</servlet-name>
    <url-pattern>/submit_login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>login_form</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profile</servlet-name>
    <jsp-file>/profile.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>show_profile</servlet-name>
    <servlet-class>net.broker.food.servlet.ProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>show_profile</servlet-name>
    <url-pattern>/profile.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>json_get</servlet-name>
    <url-pattern>/json.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>submit_new_account</servlet-name>
    <url-pattern>/submit_new_account</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>create_account_form</servlet-name>
    <url-pattern>/create_account.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>example</servlet-name>
    <url-pattern>/example.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>jstl-servlet</servlet-name>
    <url-pattern>/jstl.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register_form</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>process_register_form</servlet-name>
    <url-pattern>/submit_register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>list_data_servlet</servlet-name>
    <url-pattern>/data.html</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>net.broker.food.listener.ApplicationDataLoaderListener</listener-class>
  </listener>
</web-app>
