<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>example</servlet-name>
    <servlet-class>net.broker.food.servlet.examples.ExampleServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>jstl-servlet</servlet-name>
    <servlet-class>net.broker.food.servlet.examples.JstlServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register_form</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>process_register_form</servlet-name>
    <servlet-class>net.broker.food.servlet.RegisterFormServlet</servlet-class>
    <multipart-config>
      <max-file-size>10000000</max-file-size>
      <max-request-size>20000000</max-request-size>
      <file-size-threshold>5000000</file-size-threshold>
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>example</servlet-name>
    <url-pattern>/example.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>jstl-servlet</servlet-name>
    <url-pattern>/jstl.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register_form</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>process_register_form</servlet-name>
    <url-pattern>/submit_register</url-pattern>
  </servlet-mapping>
</web-app>
